* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    margin-top: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

input {
    text-align: left;
    font-size: 1.5rem;
    font-family: 'OpenSans-Light', sans-serif;
    letter-spacing: 0px;
    color: #939393;
    width: 30vw;
    height: 8vh;
    padding: 1vh 1vw;
}

button {
    color: #FFFFFF;
    background: #185A9D;
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: right;
    padding: 2vh 4vw;
    margin: 2vh 2vw;
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 2px 4px 8px #00000025;
}