* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    margin-top: 10vh;
    justify-content: center;
    align-content: center;
}

.card-list {
    display: flex;
    width: 100vw;
    padding: 5vh 5vw;
}

.card {
    width: 30vw;
    height: 20vh;
    box-shadow: 0px 4px 12px #00000029;
    border-radius: 10px;
    margin: 0vh 2.5vw 0vh 2.5vw;
    color: #FFFFFF;
    padding: 5vh 2vw;
}

.card h1 {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 2rem;
}

.card hr {
    margin-top: 2.5vh;
    height: 2px;
    border: 1px solid #FFFFFF;
}

.card p {
    margin: 1vh 0vw;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 1rem;
}

.blue {
    background: transparent linear-gradient(360deg, #3A7BD5 0%, #00D2FF 100%) 0% 0% no-repeat padding-box;
}

.red {
    background: transparent linear-gradient(180deg, #F857A6 0%, #EE8787 100%) 0% 0% no-repeat padding-box;
}

.green {
    background: transparent linear-gradient(180deg, #1CD8D2 0%, #26DA98 100%) 0% 0% no-repeat padding-box;
}

.table,
.mat-accordion {
    width: 100vw;
    padding: 5vh 5vw;
}

.mat-accordion .mat-expansion-panel:first-child .mat-expansion-panel-header-title {
    font-size: 1.15rem;
    height: 4vh;
    margin: 2vh 0vw 0vh 0vw;
}

.mat-expansion-panel {
    margin: 0vh 0vw 0.5vh 0vw;
}

.header {
    cursor: not-allowed;
    pointer-events: none;
    font-family: 'OpenSans-SemiBold', sans-serif;
}

::ng-deep .header .mat-expansion-indicator:after {
    opacity: 0;
}

::ng-deep .mat-expansion-panel-header-title {
    width: 10vh !important;
    text-align: center;
    float: center;
    font-size: 1rem;
    font-family: 'OpenSans-Regular'sans-serif;
}

.innerTable {
    display: flex;
    width: 100%;
}

.innerTable p {
    width: 33%;
}

.innerTable .track {
    color: #622EBD;
    float: right;
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
}