<div class="body">
    <div class="card-list">
        <div class="card blue">
            <h1>2500 Kg</h1>
            <hr />
            <p>NOT PROCESSED</p>
        </div>
        <div class="card red">
            <h1>6500 Kg</h1>
            <hr />
            <p>IN TRANSIT</p>
        </div>
        <div class="card green">
            <h1>7500 Kg</h1>
            <hr />
            <p>DELIVERED</p>
        </div>
    </div>
    <div class="table">
        <div class="title"></div>
        <div class="body"></div>
    </div>
</div>