    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    
    .body {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 100vh;
        background: #F2F2F2 0% 0% no-repeat padding-box;
    }
    
    header {
        position: absolute;
        margin: 3vh 4vw;
        padding: 0vh 0vw;
    }
    
    header h3 {
        color: #ffffff;
        width: 40vw;
        font-family: 'OpenSans-Regular', sans-serif;
        font-size: 32px;
        position: absolute;
        z-index: 109;
        text-transform: capitalize;
    }
    
    .main {
        width: 100vh;
    }
    
    .mainInner {
        display: table;
        height: 100%;
        width: 100%;
        text-align: center;
    }
    
    .mainInner div {
        display: table-cell;
        vertical-align: middle;
        font-size: 3em;
        font-weight: bold;
        letter-spacing: 1.25px;
    }
    
    .usertab {
        text-align: center;
    }
    
    .icon {
        padding: 1vh 1vw;
    }
    
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: 0px 4px 8px #00000025;
        padding: 10px;
    }
    
    .text h3 {
        font-family: 'OpenSans-Regular', sans-serif;
        font-size: 24px;
        line-height: 0.7em;
    }
    
    .text p {
        font-family: 'OpenSans-Light', sans-serif;
        font-size: 1rem;
        line-height: 0.5em;
    }
    
    .icon .fa-user-circle {
        font-size: 6vh;
        color: #707070;
    }
    
    #sidebarMenu {
        height: 90vh;
        top: 10vh;
        position: fixed;
        left: 0;
        width: 300px;
        transform: translateX(-300px);
        transition: transform 250ms ease-in-out;
        background: #ffffff;
        z-index: 999;
        padding: 5vh 0vw;
        box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05);
    }
    
    .sidebarMenuInner {
        margin: 5vh 0vw;
        padding: 0;
    }
    
    .sidebarMenuInner li {
        list-style: none;
        padding: 20px;
        cursor: pointer;
        text-align: left;
        margin: 2vh 1vw 0px 2vh;
        width: 280px;
        box-shadow: 2px 4px 8px #00000025;
    }
    
    .sidebarMenuInner li span {
        display: block;
        font-size: 1.25rem;
        color: rgba(255, 255, 255, 0.50);
    }
    
    .active {
        color: #ffffff;
        background: #43CEA2;
    }
    
    li:hover {
        background: #43CEA2;
        box-shadow: 2px 8px 16px #00000025;
    }
    
    .sidebarMenuInner li a {
        color: #000;
        text-align: left;
        cursor: pointer;
        text-decoration: none;
        font-family: 'OpenSans-Regular', sans-serif;
        font-size: 1.25rem;
        padding: 1vh 1vw;
    }
    
    input[type="checkbox"]:checked~#sidebarMenu {
        transform: translateX(0);
    }
    
    input[type=checkbox] {
        transition: all 0.3s;
        box-sizing: border-box;
        display: none;
    }
    
    @media only screen and (max-width: 1368px) {
        header h3 {
            color: #ffffff;
            font-family: 'OpenSans-Regular', sans-serif;
            font-size: 1.65rem;
        }
        .sidebarIconToggle {
            transition: all 0.3s;
            box-sizing: border-box;
            cursor: pointer;
            position: absolute;
            z-index: 99;
            height: 100%;
            width: 100%;
            top: 30px;
            left: 15px;
            height: 25px;
            width: 25px;
        }
        .spinner {
            transition: all 0.3s;
            box-sizing: border-box;
            position: fixed;
            height: 3px;
            width: 100%;
            background-color: #fff;
        }
        .horizontal {
            transition: all 0.3s;
            box-sizing: border-box;
            position: relative;
            float: left;
            margin-top: 3px;
        }
        .diagonal.part-1 {
            position: relative;
            transition: all 0.3s;
            box-sizing: border-box;
            float: left;
        }
        .diagonal.part-2 {
            transition: all 0.3s;
            box-sizing: border-box;
            position: relative;
            float: left;
            margin-top: 3px;
        }
        input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
            transition: all 0.3s;
            box-sizing: border-box;
            opacity: 0;
        }
        input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
            transition: all 0.3s;
            box-sizing: border-box;
            transform: rotate(135deg);
            margin-top: 8px;
        }
        input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
            transition: all 0.3s;
            box-sizing: border-box;
            transform: rotate(-135deg);
            margin-top: -9px;
        }
    }
    
    @media only screen and (min-width: 1369px) {
        .sidebarIconToggle {
            transition: all 0.3s;
            box-sizing: border-box;
            cursor: pointer;
            position: absolute;
            z-index: 99;
            height: 100%;
            width: 100%;
            top: 32px;
            left: 20px;
            height: 40px;
            width: 40px;
        }
        .spinner {
            transition: all 0.3s;
            box-sizing: border-box;
            position: absolute;
            height: 5px;
            width: 100%;
            background-color: #fff;
        }
        .horizontal {
            transition: all 0.3s;
            box-sizing: border-box;
            position: relative;
            float: left;
            margin-top: 8px;
        }
        .diagonal.part-1 {
            position: relative;
            transition: all 0.3s;
            box-sizing: border-box;
            float: left;
        }
        .diagonal.part-2 {
            transition: all 0.3s;
            box-sizing: border-box;
            position: relative;
            float: left;
            margin-top: 8px;
        }
        input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
            transition: all 0.3s;
            box-sizing: border-box;
            opacity: 0;
        }
        input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
            transition: all 0.3s;
            box-sizing: border-box;
            transform: rotate(135deg);
            margin-top: 13px;
        }
        input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
            transition: all 0.3s;
            box-sizing: border-box;
            transform: rotate(-135deg);
            margin-top: -17px;
        }
    }