* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    margin-top: 15vh;
    justify-content: center;
    align-content: center;
}

.mat-elevation-z8 {
    width: 96vw;
    margin: 0vh 2vw;
}

.mat-table {
    width: 100%;
}

button {
    color: #FFFFFF;
    background: #185A9D;
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: right;
    padding: 1vh 3vw;
    margin: 2vh 2vw;
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 2px 4px 8px #00000025;
}